.tiptap {
  margin-top: 1rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
  border: 1px solid var(--chakra-colors-gray-500);
  border-radius: 8px;
}

.tiptap > * + * {
  margin-top: 0.75em;
}

ul:not(.is-nav),
ol:not(.is-nav) {
  padding-left: 1.5rem;
  margin: 1rem 0;
  list-style-position: outside;
}

ul:not(.is-nav) {
  list-style-type: disc;
}

ol:not(.is-nav) {
  list-style-type: decimal;
}

ul:not(.is-nav) ul,
ul:not(.is-nav) ol,
ol:not(.is-nav) ul,
ol:not(.is-nav) ol {
  margin: 0.5rem 0;
  padding-left: 1rem;
  list-style-type: circle;
}

ul:not(.is-nav) ul ul,
ul:not(.is-nav) ul ol,
ul:not(.is-nav) ol ul,
ul:not(.is-nav) ol ol,
ol:not(.is-nav) ul ul,
ol:not(.is-nav) ul ol,
ol:not(.is-nav) ol ul,
ol:not(.is-nav) ol ol {
  list-style-type: square;
}

ul:not(.is-nav) li,
ol:not(.is-nav) li {
  margin-bottom: 0.5rem;
}

ul:not(.is-nav) li::marker,
ol:not(.is-nav) li::marker {
  color: #e0d5d5;
  font-size: 1em;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.tiptap h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.tiptap h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.tiptap h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.tiptap h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.tiptap h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.tiptap code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap mark {
  background-color: #c91962;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.tiptap a {
  color: var(--chakra-colors-gs-yellow-400);
  text-decoration: underline;
}
